# Database
MONGODB_URI=mongodb+srv://<username>:<password>@cluster-kamu.mongodb.net/namadb

# Autentikasi
JWT_SECRET=isi_dengan_rahasia_jwt_kamu

# AI API Key
GEMINI_API_KEY=masukkan_api_key_google_gemini_anda_di_sini
GEMINI_MODEL=Masukkan_model_gemini_yang_ingin_digunakan_atau_biarkan_default